*{
	margin: 0;
}

body{
	background:url("../images/des5.jpg");
	background-color: black;
	filter: brightness(1.5);
	background-size: cover;
	background-repeat: no-repeat;
}

nav{
	height: 100%;
	width: 80px;
	background-color: black;
	position: fixed;
	text-align: center;
	padding-top: 65px;
	z-index: 5;
}

ul{
	display: inline;
}

li{
	padding-top: 100%;
}

.icon1{
	color: red;
}

.icon2{
	color: lime;
}

.icon3{
	color: navy;
}

.icon4{
	color: crimson;
}

.icon5{
	color: silver;
}	

.fonts:hover{
	opacity: .3;
}


#submit-container{
	margin-left: 80px;
	background-color: rgba(0,0,0,.7);
}

#submit-content{
	text-align: center;
	color: silver;
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
	font-size: 20px;
	font-family: 'Averia Libre', cursive;
}
input{
	border-radius: 5px;
	background-color: rgba(0,0,0,0.7);
	border: none;
	font-size: 20px;
	display: block;
	margin-top: 30px;
	padding: 10px;
	color: red;
	outline: none;
	font-family: 'play';
}

input:hover{
	border-radius: 5px;
	background-color: rgba(255,0,0, 0.3);
	border: none;
	font-size: 20px;
	display: block;
	margin-top: 30px;
	padding: 10px;
	color: black;
	outline: none;
}
.left{
	float: left;
}
.right{
	float: right;
}

button{
	padding:20px;
	background-color: rgba(0,0,0,0.7);
	color: silver;
	margin-top: 150px;
	font-size: 25px;
	font-family: 'play';
	border:none;
	border-radius: 5px;
	outline: none;
	width: 100%;
	text-align: center;
}

button:hover{
	padding:20px;
	background-color: silver;
	color: rgba(0,0,0,0.9); ;
	margin-top: 150px;
	font-size: 25px;
	border-radius: 5px;
	outline: none;
	font-family: 'play';
}

a{
	text-decoration: none;
	color: inherit;
}
